.JoblyApp {
  text-align: center;
  min-height: 100vh;
  background-image: url("./austin-distel-wawEfYdpkag-unsplash.jpg");
  background-size: cover;
  opacity: 0.85;
}

.JoblyContent {
  margin-top: 100px;
  background-color: lightgrey;
  opacity: .85;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 1rem;
  overflow: hidden;
}

.btn {
  margin: 0 10px;
}

.CompanyCard, .JobCard {
  width: 80%;
  border: 1px solid black;
  border-radius: .5em;
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.CompanyCard:hover {
  color: rgb(6, 16, 135);
  box-shadow: 2px 2px #888888;
}

.default-content{
  width: 300px;
  margin: auto;
  text-align: left;
}

.Home {
  background-color: lightgrey;
  opacity: .85;
  display: inline-block;
  padding: 3rem;
  border-radius: 1rem;
  overflow: hidden;
}

.List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.List a {
  text-decoration: none;
  color: inherit;
  line-height: 2;
}

.List img {
  width: 10%;
  float: right;
}

.List .btn {
  float: right;
}

.search-form{
  margin: auto;
  text-align: left;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.search-form div{
  display: inline-block;
  margin: 0 10px;
}