.NavBar {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 60px;
  border-bottom: 1px solid black;
}
.NavBar a {
  padding: 1em 0;
  width: 7em;
  display: inline-block;
  color: #3d79e1;
  text-decoration: none;
  font-family: sans-serif;
}
.NavBar .home {
  float: left;
}

.NavBar .NavBarRight {
  float: right;
}

.NavBar a:hover {
  color: #2e5cac !important;
}
.NavBar a.active {
  font-weight: bold;
  color: black;
}